version: 1
disable_existing_loggers: false

formatters:
  simple:
    format: "%(asctime)s | %(levelname)s | %(name)s | %(message)s"
    datefmt: "%Y-%m-%d %H:%M:%S"
  json:
    "()": "tools.log_formatter.JSONFormatter"
    fmt_keys:
      level: levelname
      message: message
      timestamp: timestamp
      logger: name
      module: module
      function: funcName
      line: lineno
      thread_name: threadName

handlers:
  app_file:
    class: logging.handlers.RotatingFileHandler
    level: INFO
    formatter: json 
    filename: __LOG_FILE__
    maxBytes: 5000000
    backupCount: 3

  stderr:
    class: logging.StreamHandler
    level: WARNING
    formatter: simple
    stream: ext://sys.stderr

  stdout:
    class: logging.StreamHandler
    level: WARNING
    formatter: simple
    stream: ext://sys.stdout

  # queue_handler:
  #   class: logging.handlers.QueueHandler
  #   handlers: [app_file, stderr]
  #   respect_handler_level: true

root:
  level: DEBUG
  handlers: [app_file, stderr]

loggers:
  MESA.mesa.model:
    level: WARNING
    propagate: true
